<div class="container">
    <div class="header">
        <h1>Alunos</h1>
        <div>
            <button class="button button-delete" [disabled]="idAlunoSelecionado == null">Excluir</button>
            <button class="button button-update" [disabled]="idAlunoSelecionado == null" >Editar</button>
            <button class="button button-insert"  (click)="inserirButtonClick()">Inserir</button>
        </div>
    </div>

    <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sortChange($event)">
        <ng-container matColumnDef="#">
            <th mat-header-cell *matHeaderCellDef>
                #
            </th>

            <td mat-cell *matCellDef="let element">
                <input type="radio" 
                    name="alunoSelecionado" 
                    value="{{element.idAluno}}" 
                    style="cursor: pointer;"
                    (click)="selecionarAlunoInputClick(element.idAluno)" />
            </td>

        </ng-container>

        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="nome">
                Nome
            </th>
            <td mat-cell *matCellDef="let element">
                {{element.nome}}
            </td>
        </ng-container>

        <ng-container matColumnDef="matricula">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="matricula">
                Mátricula
            </th>
            <td mat-cell *matCellDef="let element">
                {{element.matricula}}
            </td>
        </ng-container>

        <ng-container matColumnDef="dataNascimento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="dataNascimento">
                Data de nascimento
            </th>

            <td mat-cell *matCellDef="let element">
                {{element.dataNascimento}}
            </td>
        </ng-container>

        <ng-container matColumnDef="sexo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="sexo">
                Sexo
            </th>

            <td mat-cell *matCellDef="let element">
                {{element.sexo}}
            </td>

        </ng-container>

        <ng-container matColumnDef="habilitado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="desativado">
                Habilitado
            </th>

            <td mat-cell *matCellDef="let element">
                <span *ngIf="element.desativado">Não</span>
                <span *ngIf="!element.desativado">Sim</span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row 
            *matRowDef="let row; columns: displayedColumns" 
            [ngClass]="(idAlunoSelecionado == row.idAluno)  ? 'tr-selected' : '' ">
        </tr>
    </table>

    <mat-paginator (page)="handlePageEvent($event)" [length]="totalCount" [pageSize]="pageSize" [pageIndex]="pageIndex"
        [pageSizeOptions]="[5,10,15]" showFirstLastButtons aria-label="Select page of elements">
    </mat-paginator>
</div>